<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 全局配置 -->
<settings>  
         <!-- 使用log4j来控制日志的输出 -->
        <setting name="logImpl" value="LOG4J"/>
        
		<!-- 开启二级缓存   cacheEnabled	对在此配置文件下的所有cache 进行全局性开/关设置。	true/false	true-->
		<setting name="cacheEnabled" value="true"/>
</settings>  
</configuration>